:root {
  /*colors*/
  --clr-primary--400: hsl(245, 75%, 52%);
  --clr-primary--200: hsl(225, 100%, 94%);

  --clr-neutral--600:hsl(223, 47%, 23%);
  --clr-neutral--400:hsl(224, 23%, 55%);
  --clr-neutral--200:hsl(225, 100%, 98%);

  --clr-hover--800: #1F2E55;
  --clr-hover--200: #766CF1
  ;

  /*fonts*/
  --fs--base: 10px;
  --fs--body: 1.6rem;
  --family:  'Red Hat Display', sans-serif;
  --fw--regular: 500;
  --fw--bold: 700;
  --fw--black: 900;

  /*transitions*/
  --transition--all: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}